@keyframes suppliers-animation {
    from {
        translateX: translateX(0pc);
    }

    to {
        transform: translateX(-95pc);
    }
}

@keyframes customers-animation {
    from {
        translateX: translateX(0pc);
    }

    to {
        transform: translateX(-112pc);
    }
}
