@keyframes suppliers-animation {
    from {
        transform: translateX(0rem);
    }

    to {
        transform: translateX(calc((-16rem - 3rem) * var(--brandCount)));
    }
}

@keyframes customers-animation {
    from {
        transform: translateX(0rem);
    }

    to {
        transform: translateX(-74rem);
    }
}
