@keyframes suppliers-animation {
    from {
        transform: translateX(0rem);
    }

    to {
        transform: translateX(calc((-16rem - 3rem) * 6));
    }
}

@keyframes customers-animation {
    from {
        transform: translateX(0rem);
    }

    to {
        transform: translateX(-112rem);
    }
}
