@media only screen and (max-width: 819px) {
	:root {
		--custom-nav-height: 3.5em;
	}

	#root>div {
		overflow: auto;
		height: calc(100vh - var(--custom-nav-height));
		/* Since fixed-top navbar is no longer in context */
		margin-top: var(--custom-nav-height);
	}

	/* Bootstrap class fixed-top but responsive */
	#root>nav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	.navbar-nav>a {
		text-align: center;
	}
}

@media only screen and (min-width: 820px) {
	:root {
		--custom-nav-width: 240px;
	}

	#root {
		display: flex;
	}

	#root>div {
		width: calc(100vw - var(--custom-nav-width));
		overflow: auto;
		height: 100vh;
	}

	.custom-expand {
		width: var(--custom-nav-width);
		height: 100vh;
		/* bootstrap class align-content-between but responsive */
		align-content: space-between;
		overflow: auto;
	}

	.custom-expand .navbar-toggler {
		display: none;
	}

	.custom-expand .navbar-collapse {
		display: unset !important;
		/* This will conflict align-content-between
		overflow: auto;
		height: calc(100vh - 4em);
		*/
	}

	.custom-expand .navbar-nav>button {
		text-align: unset;
	}
}
